apiVersion: apps/v1
kind: Deployment
metadata:
  name: gamb
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gamb
  template:
    metadata:
      labels:
        app: gamb
    spec:
      containers:
        - name: gamb
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          ports:
            - containerPort: {{ .Values.service.port }}
          volumeMounts:
            - name: tls
              mountPath: /app
              readOnly: true
      volumes:
        - name: tls
          secret:
            secretName: {{ .Values.tls.certSecretName }}