apiVersion: v1
kind: Service
metadata:
  name: gamb
spec:
  selector:
    app: gamb
  ports:
    - protocol: TCP
      port: 80
      targetPort: {{ .Values.service.port }}
  type: {{ .Values.service.type }}