name: Env-Aware Docker & Helm Deploy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Target environment'
        required: true
        default: 'staging'
        type: choice
        options:
          - staging
          - production

env:
  IMAGE_NAME: gamb
  IMAGE_TAG: ${{ github.sha }}

jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/gamb:${{ github.event.inputs.environment }}-${{ env.IMAGE_TAG }}

  helm-deploy:
    needs: docker-build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Helm
        uses: azure/setup-helm@v3

      - name: Deploy to Kubernetes via Helm
        run: |
          helm upgrade --install gamb-${{ github.event.inputs.environment }} ./chart             --namespace ${{ github.event.inputs.environment }}             --create-namespace             --set image.repository=${{ secrets.DOCKERHUB_USERNAME }}/gamb             --set image.tag=${{ github.event.inputs.environment }}-${{ env.IMAGE_TAG }}             --kubeconfig ${{ secrets['KUBECONFIG_' + github.event.inputs.environment | upper] }}